@-moz-keyframes Shake {
  0%, 50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  25%, 75% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes Shake {
  0%, 50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  25%, 75% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-o-keyframes Shake {
  0%, 50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  25%, 75% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-ms-keyframes Shake {
  0%, 50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  25%, 75% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes Shake {
  0%, 50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  25%, 75% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.sec01 img{ width:100%; height:100%;}
body.w540 .sec02 .wraper h1,
body.w540 .sec02 .wraper h2,
body.w540 .sec02 .wraper h3,
body.w540 .sec02 .wraper .time-addr {
  width: 320px;
  margin-left: -160px;
}
body.w540 .sec02 .wraper h1 {
  height: 90px;
  margin-top: -140px;
}
body.w540 .sec02 .wraper h2 {
  font-size: 60px;
  height: 68px;
  line-height: 68px;
  margin-top: -40px;
}
body.w540 .sec02 .wraper h3 {
  font-size: 27px;
  margin-top: 40px;
}
body.w540 .sec02 .wraper .time-addr {
  height: 16px;
  margin-top: 65px;
}
body.w540 .sec03.sec03_show .wraper span {
  font-size: 18px;
}
body.w540 .sec03.sec03_show .wraper span:nth-child(2) {
  left: -180px;
  top: -400px;
}
body.w540 .sec03.sec03_show .wraper span:nth-child(3) {
  left: 30px;
  top: -280px;
}
body.w540 .sec03.sec03_show .wraper span:nth-child(4) {
  left: -220px;
  top: -160px;
}
body.w540 .sec03.sec03_show .wraper span:nth-child(5) {
  left: 180px;
  top: 28px;
}
body.w540 .sec03.sec03_show .wraper span:nth-child(6) {
  left: -45px;
  top: 140px;
}
body.w540 .sec03.sec03_show .wraper span:nth-child(7) {
  left: 90px;
  top: 260px;
}
body.w540 .sec04.sec04_show .wraper .circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  padding-top: 0;
  margin-left: -220px;
  margin-top: -100px;
}
body.w540 .sec04.sec04_show .wraper .circle h1 {
  margin-top: 45px;
  margin-bottom: 20px;
  font-size: 3.5em;
}
body.w540 .sec04.sec04_show .wraper .circle h3 {
  font-size: 2em;
}
body.w540 .sec04.sec04_show .wraper article dt {
  font-size: 1.2em;
}
body.w540 .sec04.sec04_show .wraper article dd {
  font-size: 0.75em;
}
body.w540 .sec04.sec04_show .wraper article:nth-child(2) {
  left: -200px;
  top: -330px;
}
body.w540 .sec04.sec04_show .wraper article:nth-child(3) {
  left: -70px;
  top: -230px;
}
body.w540 .sec04.sec04_show .wraper article:nth-child(4) {
  left: 50px;
  top: -100px;
}
body.w540 .sec04.sec04_show .wraper article:nth-child(5) {
  left: 50px;
  top: 50px;
}
body.w540 .sec04.sec04_show .wraper article:nth-child(6) {
  left: -10px;
  top: 180px;
}
body.w540 .sec04.sec04_show .wraper article:nth-child(7) {
  left: -200px;
  top: 230px;
}
body.w540 .sec05.sec05_show .wraper .circle {
  width: 160px;
  height: 160px;
}
body.w540 .sec05.sec05_show .wraper .circle dt {
  font-size: 36px;
  padding-top: 50px;
}
body.w540 .sec05.sec05_show .wraper .circle dd {
  font: 24px/36px 'helvetica';
}
body.w540 .sec05.sec05_show .wraper .circle_1 {
  left: -200px;
  top: -200px;
}
body.w540 .sec05.sec05_show .wraper .circle_2 {
  top: 140px;
}
body.w540 .sec05.sec05_show .wraper .title {
  width: 150px;
  font-size: 24px;
  line-height: 30px;
  top: -318px;
  left: 95px;
}
body.w540 .sec05.sec05_show .wraper ul {
  font-size: 14px;
  line-height: 24px;
}
body.w540 .sec06.sec06_show h2 {
  width: 200px;
  left: -200px;
  top: -360px;
  font-size: 28px;
}
body.w540 .sec06.sec06_show .img {
  width: 100px;
  height: 100px;
}
body.w540 .sec06.sec06_show .img0 {
  top: 200px;
  left: -80px;
}
body.w540 .sec06.sec06_show .dl0 {
  top: 250px;
  left: -200px;
}
body.w540 .sec06.sec06_show .img1 {
  top: -360px;
  left: 70px;
}
body.w540 .sec06.sec06_show .dl1 {
  top: -260px;
  left: 100px;
}
body.w540 .sec06.sec06_show .img2 {
  top: -230px;
  left: -160px;
}
body.w540 .sec06.sec06_show .dl2 {
  top: -130px;
  left: -230px;
}
body.w540 .sec06.sec06_show .img3 {
  top: -130px;
  left: -20px;
}
body.w540 .sec06.sec06_show .dl3 {
  top: -105px;
  left: 90px;
}
body.w540 .sec06.sec06_show .img4 {
  top: 0px;
  left: -130px;
}
body.w540 .sec06.sec06_show .dl4 {
  top: 100px;
  left: -190px;
}
body.w540 .sec06.sec06_show .img5 {
  top: 40px;
  left: 70px;
}
body.w540 .sec06.sec06_show .dl5 {
  top: 140px;
  left: 110px;
}
body.w540 .sec06.sec06_show .img6 {
  top: 40px;
  left: 70px;
}
body.w540 .sec06.sec06_show .dl6 {
  top: 140px;
  left: 110px;
}
body.w540 .sec06.sec06_show dl {
  width: 110px;
}
body.w540 .sec06.sec06_show dl dt {
  font-size: 14px;
}
body.w540 .sec06.sec06_show dl dd {
  font-size: 9px;
}
body.w540 .sec07.sec07_show .logo {
  width: 300px;
  height: 80px;
  top: -190px;
  left: -150px;
}
body.w540 .sec07.sec07_show h2 {
  width: 300px;
  top: -90px;
  left: -150px;
  height: 30px;
  font-size: 18px;
  line-height: 30px;
}
body.w540 .sec07.sec07_show .link_list {
  width: 240px;
  left: -120px;
}
body.w540 .sec07.sec07_show .link_list a {
  height: 55px;
}
body.w540 .sec07.sec07_show .link_list a .icon {
  width: 40px;
  height: 40px;
  margin: 7px 0 0 15px;
}
body.w540 .sec07.sec07_show .link_list a h3 {
  font-size: 18px;
  margin: 8px 0 0 70px;
}
body.w540 .sec07.sec07_show .link_list a p {
  font-size: 12px;
  margin: 2px 0 0 70px;
}
body.w360 .sec03.sec03_show .wraper span:nth-child(2) {
  left: -130px;
  top: -265px;
}
body.w360 .sec03.sec03_show .wraper span:nth-child(3) {
  left: 25px;
  top: -185px;
}
body.w360 .sec03.sec03_show .wraper span:nth-child(4) {
  left: -155px;
  top: -105px;
}
body.w360 .sec03.sec03_show .wraper span:nth-child(5) {
  left: 122px;
  top: 18px;
}
body.w360 .sec03.sec03_show .wraper span:nth-child(6) {
  left: -38px;
  top: 93px;
}
body.w360 .sec03.sec03_show .wraper span:nth-child(7) {
  left: 120px;
  top: 173px;
}
body.h575 .sec03.sec03_show .wraper span:nth-child(2) {
  left: -125px;
  top: -243px;
}
body.h575 .sec03.sec03_show .wraper span:nth-child(3) {
  left: 25px;
  top: -167px;
}
body.h575 .sec03.sec03_show .wraper span:nth-child(4) {
  left: -150px;
  top: -97px;
}
body.h575 .sec03.sec03_show .wraper span:nth-child(5) {
  left: 112px;
  top: 15px;
}
body.h575 .sec03.sec03_show .wraper span:nth-child(6) {
  left: -38px;
  top: 83px;
}
body.h575 .sec03.sec03_show .wraper span:nth-child(7) {
  left: 112px;
  top: 155px;
}
body.h575 .sec04.sec04_show .wraper article:nth-child(2) {
  top: -220px;
}
body.h575 .sec04.sec04_show .wraper article:nth-child(3) {
  top: -170px;
}
body.h575 .sec04.sec04_show .wraper article:nth-child(4) {
  top: -80px;
}
body.h575 .sec04.sec04_show .wraper article:nth-child(6) {
  top: 110px;
}
body.h575 .sec04.sec04_show .wraper article:nth-child(7) {
  top: 160px;
}
body.h575 .sec05.sec05_show .wraper .title {
  top: -193px;
  left: 63px;
}
body.h575 .sec06.sec06_show .wraper h2 {
  top: -240px;
  left: -150px;
  font-size: 24px;
}
body.h416 .sec03.sec03_show .wraper span:nth-child(2) {
  left: -100px;
  top: -178px;
}
body.h416 .sec03.sec03_show .wraper span:nth-child(3) {
  left: 20px;
  top: -125px;
}
body.h416 .sec03.sec03_show .wraper span:nth-child(4) {
  left: -120px;
  top: -73px;
}
body.h416 .sec03.sec03_show .wraper span:nth-child(5) {
  left: 85px;
  top: 10px;
}
body.h416 .sec03.sec03_show .wraper span:nth-child(6) {
  left: -45px;
  top: 57px;
}
body.h416 .sec03.sec03_show .wraper span:nth-child(7) {
  left: 85px;
  top: 110px;
}
body.h416 .sec05.sec05_show .title {
  top: -150px;
}
body.h416 .sec06.sec06_show h2 {
  top: -180px;
}
body.h416 .sec06.sec06_show .img0 {
  top: 120px;
}
body.h416 .sec06.sec06_show .dl0 {
  top: 150px;
  left: -155px;
}
body.h416 .sec06.sec06_show .img4 {
  top: -10px;
}
body.h416 .sec06.sec06_show .dl4 {
  top: 60px;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font: normal 100% Helvetica;
}
body .wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body .wrap .sec {
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-backface-visibility: hidden;
}
body .wrap .sec .line {
  position: absolute;
  z-index: 2;
  background: url("../images/line.svg") no-repeat center top;
  background-size: auto 100%;
}
body .wrap .sec section {
  overflow: hidden;
}
body .wrap .sec section .wraper {
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 1px;
  height: 1px;
  text-align: left;
  position: absolute;
}
body .wrap .sec section .wraper > * {
  display: inline-block;
  position: absolute;
}
body .wrap .drag {
  -webkit-transition: none;
  transition: none;
}
body .start {
  position: absolute;
  z-index: 5;
/*  background:#818184;*/
  border-radius:40px;
  width: 40px;
  height: 40px;
  top: 86%;
  left: 48%;
  margin-left: -10px;
  -webkit-animation: opa_btm 1.5s ease-in-out;
  animation: opa_btm 1.5s ease-in-out;
}
body .start b {
  display: block;
  position: absolute;
  top:10px;
  left:10px;
  width: 20px;
  height: 10px;
  background: url("../images/arrow-01.png") no-repeat center;
  background-size: 20px auto;
  -webkit-animation: start 1.5s infinite ease-in-out;
  animation: start 1.5s infinite ease-in-out;
}
body .sec02 .start b,
body .sec04 .start b,
body .sec06 .start b {
  background-image: url("../images/arrow-01.png");
}
body .sec02 {
  background-color: #395389;
  background-image: url("../images/sec_01_bg.png");
  background-size: cover;
  -webkit-background-size: cover;
  position: relative;
  width: 100%;
  height: 568px;
  text-align: center;
}
body .sec02 .wraper .MDCC {
 /* background-image: url("../images/mdcc_logo_white.svg");
  background-size: cover;
  -webkit-background-size: cover;*/
  position: relative;
  width: 100%;
  height: 568px;
  text-align: center;
  width: 212px;
  height: 126px;
  padding: 0;
  color:#fff;
  font-size: 2.9375em;
  margin-top: -138px;
  margin-left: -106px;
}
body .sec02 .wraper > h2 {
  width: 212px;
  height: 49px;
  line-height: 49px;
  text-align: center;
  font-size: 1.5375em;
  color: #fff;
  margin-left: -106px;
  margin-top: 9px;
}
body .sec02 .wraper > h3 {
  font-size: 1.125em;
  color: #fff;
  line-height: 17px;
  width: 212px;
  margin-left: -116px;
  margin-top: -20px;
  text-align: center;
  white-space: nowrap;
  -webkit-animation: Shake 0.5s ease-in;
  animation: Shake 0.5s ease-in;
}
body .sec02 .wraper > h3 > span {
  display: inline-block;
  background: #fff;
  vertical-align: middle;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  margin-top: -1px;
}
body .sec02 .wraper .time-addr {
  background-image: url("../images/text.svg");
  background-size: 100%;
  color: #fff;
  font-size: 0.4375em;
  width: 212px;
  height: 10px;
  margin-left: -106px;
  margin-top: 60px;
  text-align: center;
}
body .sec02 .wraper .time-addr > span {
  display: inline-block;
  background: #fff;
  vertical-align: middle;
  width: 1px;
  height: 1px;
  border-radius: 1px;
  margin-top: -1px;
  margin-left: 3px;
  margin-right: 3px;
}
body .sec02_show .wraper h2 {
  -webkit-animation: Shake 0.5s ease-in 0.5s;
  animation: Shake 0.5s ease-in 0.5s;
}
body .sec03 {
  background:url(../images/sec_02_bg.png) center no-repeat;
  position: relative;
  width: 100%;
  height: 568px;
  text-align: center;
}
body .sec03 .wraper .circle {
  background:url(../images/bg.png) center no-repeat;
  width: 125px;
  height: 102px;
  border-radius: 125px;
  color: #003d79;
  text-align: center;
  padding-top: 23px;
  margin-top: -90px;
  margin-left: -62px;
}
body .sec03 .wraper .circle > h1 {
  font-size: 2.875em;
  margin-bottom: 7px;
  height: 43px;
  line-height: 43px;
}
body .sec03 .wraper .circle > h3 {
  font-size: 1.0625em;
  height: 17px;
  line-height: 17px;
}
body .sec03 .wraper > span {
  position: absolute;
  font-size: 0.875em;
  color: #fff;
  top: 50%;
  left: 50%;
  white-space: nowrap;
}
body .sec03 .wraper > span:nth-child(2) {
  left: -200px;
  top: -197px;
}
body .sec03 .wraper > span:nth-child(3) {
  left: 200px;
  top: -145px;
}
body .sec03 .wraper > span:nth-child(4) {
  left: -200px;
  top: -83px;
}
body .sec03 .wraper > span:nth-child(5) {
  left: 200px;
  top: 30px;
}
body .sec03 .wraper > span:nth-child(6) {
  left: -200px;
  top: 92px;
}
body .sec03 .wraper > span:nth-child(7) {
  left: 200px;
  top: 130px;
}
body .sec03 .wraper > span em {
  display: inline-block;
  background: #3d588f;
  width: 7px;
  height: 7px;
  border-radius: 7px;
  margin-top: 5px;
}
body .sec03_show .wraper span:nth-child(2) {
  left: -130px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body .sec03_show .wraper span:nth-child(3) {
  left: 20px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body .sec03_show .wraper span:nth-child(4) {
  left: -135px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body .sec03_show .wraper span:nth-child(5) {
  left: 83px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body .sec03_show .wraper span:nth-child(6) {
  left: -49px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body .sec03_show .wraper span:nth-child(7) {
  left: 83px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body .sec04 {
  background:url(../images/sec_03_bg.png) center no-repeat;
  position: relative;
  width: 100%;
  height: 568px;
  text-align: center;
}
body .sec04 .wraper .circle {
  background:url(../images/bg.png) center no-repeat;
  width: 145px;
  height: 122px;
  border-radius: 145px;
  color: #003d79;
  text-align: center;
  padding-top: 25px;
  margin-left: -9.325em;
  margin-top: -6.4375em;
}
body .sec04 .wraper .circle > h1 {
  font-size: 2.625em;
  margin-bottom: 7px;
  height: 43px;
  line-height: 43px;
}
body .sec04 .wraper .circle > h2 {
  font-size: 1.725em;
  margin-bottom: 7px;
  height: 48px;
  line-height: 48px;
}
body .sec04 .wraper .circle > h3 {
  font-size: 1.25em;
  height: 17px;
  line-height: 17px;
}
body .sec04 article {
  top: 50%;
  left: 50%;
  text-align: left;
}
body .sec04 article:nth-child(2) {
  left: -136px;
  top: -300px;
}
body .sec04 article:nth-child(3) {
  left: 10px;
  top: -300px;
}
body .sec04 article:nth-child(4) {
  left: 10px;
  top: -200px;
}
body .sec04 article:nth-child(5) {
  left: 10px;
  top: 200px;
}
body .sec04 article:nth-child(6) {
  left: 10px;
  top: 200px;
}
body .sec04 article:nth-child(7) {
  left: -136px;
  top: 200px;
}
body .sec04 article dl {
  margin: 0;
  padding: 0;
}
body .sec04 article dt {
  font-size: 0.875em;
  margin-bottom: 5px;
  color: #fff;
  white-space: nowrap;
}
body .sec04 article dd {
  position: relative;
  font-size: 0.6375em;
  margin-bottom: 4px;
  margin-left: 0;
  color: #fff;
  white-space: nowrap;
}
body .sec04 article dd > em {
  position: absolute;
  background: #fff;
  top: 50%;
  left: 0;
  width: 2px;
  height: 2px;
}
body .sec04_show .wraper article:nth-child(2) {
  top: -210px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body .sec04_show .wraper article:nth-child(3) {
  top: -210px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body .sec04_show .wraper article:nth-child(4) {
  top: -121px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body .sec04_show .wraper article:nth-child(5) {
  top: -23px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body .sec04_show .wraper article:nth-child(6) {
  top: 70px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body .sec04_show .wraper article:nth-child(7) {
  top: 70px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body .sec05,
body .sec06,
body .sec07 {
  position: relative;
  overflow: hidden;
}
body .sec05 {
  background:url(../images/sec_04_bg.png) center no-repeat;
}
body .sec05 .circle {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background:url(../images/bg.png) center no-repeat;
  color: #003d79;
}
body .sec05 .circle dt,
body .sec05 .circle dd {
  margin: 0;
  text-align: center;
}
body .sec05 .circle dt {
  padding: 30px 0 0 0;
  font: 24px/30px 'helvetica';
}
body .sec05 .circle dd {
  font: 18px/20px 'helvetica';
}
body .sec05 .circle.circle_1 {
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  top: -180px;
  left: -400px;
}
body .sec05 .circle.circle_2 {
  -webkit-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
  top: 50px;
  left: 500px;
}
body .sec05 .circle.circle_2 dt {
  padding: 25px 0 0 0;
}
body .sec05 .title {
  font: 18px/20px 'helvetica';
  color: #fff;
  width: 130px;
  top: 0px;
  left: 0px;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}
body .sec05 .title p {
  position: relative;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}
body .sec05 .title p:nth-child(1) {
  margin: 0 0 0 -20px;
}
body .sec05 .title p:nth-child(2) {
  margin: 20px 0 0 -60px;
}
body .sec05 .title p:nth-child(3) {
  margin: 200px 0 0 -140px;
}
body .sec05 ul {
  color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 125px;
  top: -80px;
  left: 25px;
  font-size: 10px;
  line-height: 15px;
}
body .sec05 ul li {
  white-space: nowrap;
}
body .sec05 ul li:nth-child(1) {
  margin-left: 10px;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}
body .sec05 ul li:nth-child(2) {
  margin-left: 20px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
body .sec05 ul li:nth-child(3) {
  margin-left: 40px;
  -webkit-transition: all 1.1s ease-in-out;
  transition: all 1.1s ease-in-out;
}
body .sec05 ul li:nth-child(4) {
  margin-left: 70px;
  -webkit-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}
body .sec05 ul li:nth-child(5) {
  margin-left: 120px;
  -webkit-transition: all 1.4s ease-in-out;
  transition: all 1.4s ease-in-out;
}
body .sec05.sec05_show .circle.circle_1 {
  top: -180px;
  left: -120px;
}
body .sec05.sec05_show .circle.circle_2 {
  top: 30px;
  left: 10px;
}
body .sec05.sec05_show .title {
  top: -170px;
  left: 25px;
}
body .sec05.sec05_show .title p {
  margin: 0 !important;
}
body .sec05.sec05_show ul li {
  margin-left: 0 !important;
}
body .sec06 {
  background:url(../images/sec_05_bg.png) center no-repeat;
  color: #fff;
}
body .sec06 h2 {
  font-size: 25px;
  white-space: nowrap;
  top: -235px;
  left: -600px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body .sec06 h3 {
  font-size: 21px;
  white-space: nowrap;
  bottom: -230px;
  left: -600px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body .sec06 .img {
  width: 1px;
  height: 1px;
  margin: 34px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
body .sec06 dl {
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
  margin: 0 0 0 20px;
  width: 90px;
  opacity: 0;
}
body .sec06 dl dt {
  font-size: 13px;
  text-align:center;
  margin: 5px 0;
}
body .sec06 dl dd {
  font-size: 10px;
  text-align:center;
  margin: 2px 0;
}
body .sec06 .dl0,
body .sec06 .dl2,
body .sec06 .dl4 {
  text-align: right;
  margin: 0 0 0 -20px;
}
body .sec06 .img0 {
  top: -60px;
  left: -30px;
}
body .sec06 .dl0 {
  top: 10px;
  left: -100px;
  width:200px;
}
body .sec06 .img1 {
  top: -200px;
  left: -30px;
}
body .sec06 .dl1 {
  top: -130px;
  left: -90px;
  width:200px;
}
body .sec06 .img2 {
  top: -150px;
  left: -130px;
}
body .sec06 .dl2 {
  top: -80px;
  left: -190px;
  width:200px;
}
body .sec06 .img3 {
  top: -150px;
  left: 70px;
}
body .sec06 .dl3 {
  top: -70px;
  left: 5px;
  width:200px;
}
body .sec06 .img4 {
  top: 20px;
  left: -130px;
}
body .sec06 .dl4 {
  top: 90px;
  left: -190px;
  width:200px;
}
body .sec06 .img5 {
  top: 20px;
  left: 70px;
}
body .sec06 .dl5 {
  top: 90px;
  left: 0px;
  width:200px;
}
body .sec06 .img6 {
  top: 70px;
  left: -30px;
}
body .sec06 .dl6 {
  top: 140px;
  left: -90px;
  width:200px;
}
body .sec06.sec06_show h2 {
  left: -90px;
  opacity: 1;
}
body .sec06.sec06_show h3 {
  left: -110px;
  opacity: 1;
}
body .sec06.sec06_show .img {
  width: 70px;
  height: 70px;
  margin: 0;
}
body .sec06.sec06_show dl {
  opacity: 1;
  margin: 0;
}
body .sec07 {
  background:url(../images/sec_06_bg.png) center no-repeat;
  background-size: cover;
}
body .sec07 .logo {
  width: 246px;
  height: 65px;
  top: -100px;
  color:#fff;
  font-size:24px;
  text-align:center;
  left: -123px;
  /*background: url("../images/mdcc_logo_blue.svg") no-repeat center;
  background-size: 100% 100%;*/
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}
body .sec07 h2 {
  width: 0px;
  height: 42px;
  margin: 0;
  top: -130px;
  left: 0;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  background: #3d588f;
  overflow: hidden;
  opacity: 0.5;
  color: #fff;
  -webkit-transition: all 1.7s ease-in-out 1s;
  transition: all 1.7s ease-in-out 1s;
}
body .sec07 .link_list {
  width: 184px;
  margin: 0;
  top: 500px;
  left: -92px;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
body .sec07 .link_list a {
  display: block;
  height: 53px;
  color: #3d588f;
/*  border: 1px solid #3d588f;*/
  border-radius: 10px;
  position: relative;
  margin: 200px 0;
  text-decoration: none;
  text-align: left;
  -webkit-transition: all 1.1s ease-in-out 0.4s;
  transition: all 1.1s ease-in-out 0.4s;
}
body .sec07 .link_list a:first-child {
  margin: 50px 0;
}
body .sec07 .link_list a:first-child {
  margin: 500px 0;
}
body .sec07 .link_list a .icon {
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 6px 0 0 10px;
  background-size: 100% 100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out 1.5s;
  transition: all 0.5s ease-in-out 1.5s;
}
body .sec07 .link_list a h3 {
  margin: 9px 0 0 10px;
  font-size: 17px;
}
body .sec07 .link_list a p {
  margin: 0 0 0 10px;
  font-size: 11px;
}
body .sec07.sec07_show .logo {
  top: -210px;
}
body .sec07.sec07_show h2 {
  opacity: 1;
  width: 248px;
  left: -124px;
}
body .sec07.sec07_show .link_list {
  top: -90px;
}
body .sec07.sec07_show .link_list a {
  margin: 20px 0;
  padding:5px 0;
}
body .sec07.sec07_show .link_list a:hover {
  border:2px solid #fff;
}
body .sec07.sec07_show .link_list span {
  float:right;
  margin:9px;
  font-family:microsoft yahei;
  font-size:24px;
  -webkit-animation: arrow 1.5s infinite ease-in-out;
  animation: arrow 1.5s infinite ease-in-out;
}
body .sec07.sec07_show .link0 {
  color:#fff;
  background:#006990;
}
body .sec07.sec07_show .link1 {
  color:#fff;
  background:#003679;
}

body .sec07.sec07_show .link_list a .icon {
  opacity: 1;
}
@-moz-keyframes opa_btm {
  0% {
    opacity: 1;
    transform: translate(0, 20px);
  }

  25% {
    opacity: 0;
    transform: translate(0, 20px);
  }
}
@-webkit-keyframes opa_btm {
  0% {
    opacity: 1;
    transform: translate(0, 20px);
  }

  25% {
    opacity: 0;
    transform: translate(0, 20px);
  }
}
@-o-keyframes opa_btm {
  0% {
    opacity: 1;
    transform: translate(0, 20px);
  }

  25% {
    opacity: 0;
    transform: translate(0, 20px);
  }
}
@-ms-keyframes opa_btm {
  0% {
    opacity: 1;
    transform: translate(0, 20px);
  }

  25% {
    opacity: 0;
    transform: translate(0, 20px);
  }
}
@keyframes opa_btm {
  0% {
    opacity: 1;
    transform: translate(0, 20px);
  }

  25% {
    opacity: 0;
    transform: translate(0, 20px);
  }
}
@-moz-keyframes start {
  0%, 30% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(0, -5px);
  }
}
@-webkit-keyframes start {
  0%, 30% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(0, -5px);
  }
}
@-o-keyframes start {
  0%, 30% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(0, -5px);
  }
}
@-ms-keyframes start {
  0%, 30% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(0, -5px);
  }
}
@keyframes start {
  0%, 30% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(0, -5px);
  }
}
@-moz-keyframes circle {
  0%, 30% {
    box-shadow: 0 0 10px 0 #3c5a8c;
  }

  60% {
    box-shadow: 0 0 10px 0 rgba(60,90,140,0.5);
  }

  100% {
    box-shadow: 0 0 10px 0 rgba(60,90,140,0.1);
  }
}
@-webkit-keyframes circle {
  0%, 30% {
    box-shadow: 0 0 10px 0 #3c5a8c;
  }

  60% {
    box-shadow: 0 0 10px 0 rgba(60,90,140,0.5);
  }

  100% {
    box-shadow: 0 0 10px 0 rgba(60,90,140,0.1);
  }
}
@-o-keyframes circle {
  0%, 30% {
    box-shadow: 0 0 10px 0 #3c5a8c;
  }

  60% {
    box-shadow: 0 0 10px 0 rgba(60,90,140,0.5);
  }

  100% {
    box-shadow: 0 0 10px 0 rgba(60,90,140,0.1);
  }
}
@-ms-keyframes circle {
  0%, 30% {
    box-shadow: 0 0 10px 0 #3c5a8c;
  }

  60% {
    box-shadow: 0 0 10px 0 rgba(60,90,140,0.5);
  }

  100% {
    box-shadow: 0 0 10px 0 rgba(60,90,140,0.1);
  }
}
@keyframes circle {
  0%, 30% {
    box-shadow: 0 0 10px 0 #3c5a8c;
  }

  60% {
    box-shadow: 0 0 10px 0 rgba(60,90,140,0.5);
  }

  100% {
    box-shadow: 0 0 10px 0 rgba(60,90,140,0.1);
  }
}

@-moz-keyframes arrow {
  0%, 30% {
    opacity: 0;
    -webkit-transform: translate(-5px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(10px, 0);
  }
}
@-webkit-keyframes arrow {
  0%, 30% {
    opacity: 0;
    -webkit-transform: translate(-5px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(10px, 0);
  }
}
@-o-keyframes arrow {
  0%, 30% {
    opacity: 0;
    -webkit-transform: translate(-5px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(10px, 0);
  }
}
@-ms-keyframes arrow {
  0%, 30% {
    opacity: 0;
    -webkit-transform: translate(-5px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(10px, 0);
  }
}
@keyframes arrow {
  0%, 30% {
    opacity: 0;
    -webkit-transform: translate(-5px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(10px, 0);
  }
}